body {
    font-family: Arial, sans-serif;
   font-family: Arial, sans-serif;
     background-image: url(img3.jpg);
   background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: Arial, sans-serif;
    color:red;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin: 20px auto;
}

th, td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}
th {
    background-color: #4CAF50;
    color: white;
}



audio {
    width: 100%;
    margin-top: 5px;
}