<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link rel=stylesheet type=text/css th:href="@{/About.css}"> 
</head>
<body>
<form action="About" method="Get">
<div>
<h5>About</h5>
<p>MusicJet is a popular digital music streaming service that offers users access to millions of songs, podcasts, and videos from artists all over the world. Here are some key points about MusicJet</P>

<h1>Key Features</h1>
<p>
Extensive Library: MusicJet boasts a vast catalog of music, including tracks from major record labels and independent artists. This includes everything from the latest hits to classic albums across various genres.
</P><p>
Playlists: Users can create, share, and discover playlists. MusicJet also offers curated playlists based on different moods, activities, and genres, as well as personalized playlists like Discover Weekly and Release Radar, which are tailored to individual listening habits.
</P>
<h1>Subscription Plans</h1>
<p>
Free Plan: The free version of MusicJet is ad-supported and includes some limitations, such as the inability to download music for offline listening and a limited number of song skips.
</p><p>
Premium Plan: For a monthly fee, users can upgrade to MusicJet Premium, which offers ad-free listening, higher sound quality, unlimited skips, and offline listening capabilities.

</p>

</div>
</form>
</body>
</html>