<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>ADMIN HOME</title> 
<link rel=stylesheet type=text/css th:href="@{/adminhome.css}">                <!-- <a href="newsong" >Add a new song </a>-->
</head>
<body>
<P class="a2">Admin Home </P>
<div class="a1">
<form action="newsong">
<input type="submit" value="ADD SONG">
</form>
<br><br>
<form action="viewsongs">
<input type="submit" value="View Songs">
</form>
<br><br>
<form action="createplaylists">
<input type="submit" value="CREATE PLAYLIST">
</form>
<br><br>
<form action="viewplaylists">
<input type="submit" value="VIEW PLAYLISTS">
</form>
</div>

</body>
</html>