<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="index.css">
	
	
	<title>tunehub</title>
</head>
<body >
	<div class="a1">
	<nav class="nav">
	<div class="nav-logo">
		<img src="logo2.png" class="logo"alt="music+">
		</div>
			<div class="nav-menu">
				<ul>
					   <li> <a href="Home" class="link">Home</a></li>

   <li> <a href="About" class="link">About</a></li>

   <li> <a href="login" class="link">LOGIN</a></li>

   <li> <a href="registeration" class="link"> Register</a></li>

   <li> <a href="Contact" class="link">Contact</a></li>

   
    
</ul>



    </div>
</div>
</body>
</html>